.recipe-dish-image {
  width: 100%;
}

.recipe-post-bottom-bar {
  margin-right: 15px;
  background-color: aliceblue;
  padding: 0;
}

.recipe-post-button-comments {
  float: right;
}

.recipe-post-button-like {
  float: left;
}

.likeButtonImage {
  height: 20px;
  width: 20px;
}

.likeButtonDiv {
  display: inline;
  white-space: nowrap;
}

.recipe-container {
  height: 400px;
  width: 400px;
  align-items: center;
  margin-left: 80px;
}
