.header-container {
  height: 75px;
  display: flex;
  gap: 20px;
  padding: 0 25px;
  background: white;
  background-color: #fff;
  box-shadow: 0 0 12px rgb(79 79 106 / 6%);
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 75px;
  margin-right: 50px;
}

.navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
}

.navigation-link:active {
  color: inherit;
}

.navigation-link:hover:not(.active) {
  color: #717f94;
  border-bottom: 2px solid #717f94;
}

.active {
  color: var(--theme-color);
  font-weight: 600;
}

.main-navigation {
  align-self: stretch;
  gap: 50px;
  height: 75px;
}
